<html lang='vi'>
 <head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Quên Mật Khẩu</title>
 </head>
 <body>
  <p>Xin chào {{userName}},</p>
  <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản
   {{appName}}
   của bạn. Để tiếp tục, vui lòng sử dụng mã thông báo sau:</p>
  <p><strong>Mã Thông Báo:</strong> {{resetToken}}</p>
  <p>Vui lòng nhấn vào liên kết dưới đây để đặt lại mật khẩu:</p>
  {{!-- <a href='{{resetLink}}'>Đặt Lại Mật Khẩu</a> --}}
  <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này. Tài
   khoản của bạn vẫn an toàn.</p>
  <p>Cảm ơn bạn,</p>
  <p>Đội ngũ {{appName}}</p>
 </body>
</html>